# Installs and Imports

In [ ]:
# for data reading
import json, gzip
import os
import re
import ast

# For data analysis
import pandas as pd
import pickle
import numpy as np
from scipy.spatial.distance import cosine
from itertools import combinations

# from cuml.manifold import UMAP
import numpy as np
from numpy import dot
from numpy.linalg import norm
from sklearn.metrics.pairwise import cosine_similarity

# for loading datasets
import huggingface_hub
from huggingface_hub import HfApi
from huggingface_hub import hf_hub_download
from huggingface_hub import snapshot_download

# for visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# for reading datasets
access_token = "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"

hf_hub_download(repo_id="Matthewfung/24Summer_RA",
                repo_type="dataset",
                filename='Results/RESULT.csv',
                token = access_token,
                local_dir='/content')

'/content/Results/RESULT.csv'

## Data Checking

In [ ]:
df = pd.read_csv('/content/Results/RESULT.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743233 entries, 0 to 743232
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CID               743233 non-null  int64
 1   MenteeID          743233 non-null  int64
 2   MentorID          743233 non-null  int64
 3   MentorshipType    743233 non-null  int64
 4   Institution       716157 non-null  object
 5   InstitutionMAGID  651002 non-null  float64
 6   StartYear         743233 non-null  int64
 7   StopYear          743233 non-null  int64
 8   mentor_gender     743082 non-null  object
 9   mentor_race       378833 non-null  object
 10  mentee_gender     743035 non-null  object
 11  mentee_race       408938 non-null  object
 12  Mentor_WPS        656452 non-null  float64
 13  Mentee_WPS        490655 non-null  float64
 14  mentor_WFS        654696 non-null  float64
 15  mentee_WFS        488894 non-null  float64
 16  mentor_domain     654696 non-null  object
 17  mentee_domain     488894 non-null  object
 18  mentor_num_pub    654696 non-null  float64
 19  mentee_num_pub    488894 non-null  float64
 20  mentor_citations  655418 non-null  float64
 21  mentee_citations  489380 non-null  float64
dtypes: float64(9), int64(6), object(7)
memory usage: 124.7+ MB

In [ ]:
df

,CID,MenteeID,MentorID,MentorshipType,Institution,InstitutionMAGID,StartYear,StopYear,mentor_gender,mentor_race,...,Mentor_WPS,Mentee_WPS,mentor_WFS,mentee_WFS,mentor_domain,mentee_domain,mentor_num_pub,mentee_num_pub,mentor_citations,mentee_citations
0,2,2,3,1,"University of California, Berkeley",95457486.0,2000,2005,man,White,...,2.066691,2.368732,7.111921,7.111089,Life Sciences,Life Sciences,83.0,90.0,148.771429,62.777778
1,3,4,3,2,"University of California, Berkeley",95457486.0,2003,2006,man,White,...,2.066691,1.402405,7.111921,7.938187,Life Sciences,Life Sciences,83.0,3.0,148.771429,35.666667
2,5,6,3,1,"University of California, Berkeley",95457486.0,2002,2008,man,White,...,2.066691,3.915893,7.111921,8.197137,Life Sciences,Physical Sciences,83.0,16.0,148.771429,229.320000
3,6,18761,9,1,"University of California, Berkeley",95457486.0,-1,1984,man,White,...,4.291308,5.729919,8.702959,9.001187,Life Sciences,Health Sciences,59.0,129.0,64.390000,68.681452
4,7,10,16,2,"Washington University, Saint Louis",204465549.0,-1,-1,man,White,...,2.698710,NaN,6.689360,NaN,Life Sciences,NaN,165.0,NaN,307.774775,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
743228,1784798,839679,287445,1,"University of Massachusetts, Amherst",24603500.0,-1,1991,man,White,...,3.676024,0.939504,7.092709,7.927881,Physical Sciences,Physical Sciences,61.0,4.0,10.430769,49.500000
743229,1784800,796638,839680,1,University of Wales,97429440.0,-1,1986,man,White,...,2.884525,4.407829,13.549140,13.796845,Life Sciences,Life Sciences,61.0,66.0,87.609756,70.654762
743230,1784802,839681,699264,1,"University of California, Santa Barbara",154570441.0,2017,-1,woman,NaN,...,2.574185,NaN,5.637597,NaN,Social Sciences,NaN,18.0,NaN,28.684211,NaN
743231,1784803,699264,38114,1,NaN,NaN,-1,-1,woman,NaN,...,2.443463,2.574185,5.163319,5.637597,Social Sciences,Social Sciences,37.0,18.0,64.047619,28.684211
743232,1784805,747127,155716,1,Northeast Ohio Medical University; Kent State ...,NaN,2018,2019,woman,White,...,2.544625,NaN,9.867703,NaN,Health Sciences,NaN,43.0,NaN,65.526316,NaN

# H-Index & Ranks

In [ ]:
institution_list = list(set(df['InstitutionMAGID'].fillna(0).astype(int)))
institution_list.remove(0)

In [ ]:
len(institution_list)

3260

In [ ]:
import requests

openalex_api = "https://api.openalex.org/"

# Define functions to fetch 'topics' and 'cited_by_count' using the dictionary
def get_h_index(mag_id):
    try:
        return requests.get(openalex_api+"I{}".format(mag_id)).json()["summary_stats"]
    except Exception as e:
        print(f"Error fetching topics for {mag_id}: {e}")
        return None

In [ ]:
results = pd.DataFrame()
results['InstID'] = institution_list

In [ ]:
# results['Info'] = results['InstID'].apply(get_h_index)

In [ ]:
results = pd.read_csv('/content/school_ranks.csv')

In [ ]:
results

          InstID                                               Info
0     1287643137  {'2yr_mean_citedness': 2.554240631163708, 'h_i...
1       57851904  {'2yr_mean_citedness': 0.0, 'h_index': 12, 'i1...
2      865419266  {'2yr_mean_citedness': 4.66158315177923, 'h_in...
3      885383172  {'2yr_mean_citedness': 3.56784005468216, 'h_in...
4       31784960  {'2yr_mean_citedness': 2.42, 'h_index': 185, '...
...          ...                                                ...
3255    69181431  {'2yr_mean_citedness': 2.9276672694394215, 'h_...
3256    52207611  {'2yr_mean_citedness': 4.121661721068249, 'h_i...
3257    47251452  {'2yr_mean_citedness': 3.727933541017653, 'h_i...
3258  1330995197  {'2yr_mean_citedness': 5.024977698483497, 'h_i...
3259   202391551  {'2yr_mean_citedness': 3.6828261990716866, 'h_...

[3260 rows x 2 columns]

In [ ]:
a = {'2yr_mean_citedness': 2.554240631163708, 'h_index': 196, 'i10_index': 4040}

In [ ]:
a['2yr_mean_citedness']

2.554240631163708

In [ ]:
def extractInfo(entry):
  if entry != 0:
    output = ast.literal_eval(entry)
    return output['h_index']
  else:
    return None

In [ ]:
df['InstitutionMAGID'] = df['InstitutionMAGID'].fillna(0).astype(int)

In [ ]:
df_ = df.merge(results, left_on='InstitutionMAGID', right_on='InstID', how='left')

In [ ]:
df_['Info'] = df_['Info'].fillna(0)

In [ ]:
df_.head(1)

,CID,MenteeID,MentorID,MentorshipType,Institution,InstitutionMAGID,StartYear,StopYear,mentor_gender,mentor_race,...,mentor_WFS,mentee_WFS,mentor_domain,mentee_domain,mentor_num_pub,mentee_num_pub,mentor_citations,mentee_citations,InstID,Info
0,2,2,3,1,"University of California, Berkeley",95457486,2000,2005,man,White,...,7.111921,7.111089,Life Sciences,Life Sciences,83.0,90.0,148.771429,62.777778,95457486.0,"{'2yr_mean_citedness': 4.3735733099209835, 'h_..."

In [ ]:
df_['Institution_H_Index'] = df_['Info'].apply(extractInfo)

In [ ]:
year = pd.read_csv('/content/author_year.csv')
year.head()

   PID Minimum_Date
0    1   1997-09-01
1    2   2002-06-14
2    3   1990-02-01
3    4   2004-06-01
4    5   2007-03-29

In [ ]:
df_ = df_.merge(year, left_on='MentorID', right_on='PID', how='left')
df_.rename(columns = {'Minimum_Date': 'mentor_1st_pub_time'}, inplace = True)

In [ ]:
df_ = df_.merge(year, left_on='MenteeID', right_on='PID', how='left')
df_.rename(columns = {'Minimum_Date': 'mentee_1st_pub_time'}, inplace = True)

In [ ]:
df_.columns

Index(['CID', 'MenteeID', 'MentorID', 'MentorshipType', 'Institution',
       'InstitutionMAGID', 'StartYear', 'StopYear', 'mentor_gender',
       'mentor_race', 'mentee_gender', 'mentee_race', 'Mentor_WPS',
       'Mentee_WPS', 'mentor_WFS', 'mentee_WFS', 'mentor_domain',
       'mentee_domain', 'mentor_num_pub', 'mentee_num_pub', 'mentor_citations',
       'mentee_citations', 'InstID', 'Info', 'Institution_H_Index', 'PID_x',
       'mentor_1st_pub_time', 'PID_y', 'mentee_1st_pub_time'],
      dtype='object')

In [ ]:
df_ = df_[['CID', 'MenteeID', 'MentorID', 'MentorshipType', 'Institution',
           'InstitutionMAGID', 'Institution_H_Index', 'StartYear', 'StopYear', 'mentor_1st_pub_time',
           'mentee_1st_pub_time', 'mentor_gender', 'mentor_race', 'mentee_gender',
           'mentee_race', 'Mentor_WPS', 'Mentee_WPS', 'mentor_WFS', 'mentee_WFS', 'mentor_domain',
            'mentee_domain', 'mentor_num_pub', 'mentee_num_pub', 'mentor_citations',
            'mentee_citations']]

In [ ]:
df_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743233 entries, 0 to 743232
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CID                  743233 non-null  int64
 1   MenteeID             743233 non-null  int64
 2   MentorID             743233 non-null  int64
 3   MentorshipType       743233 non-null  int64
 4   Institution          716157 non-null  object
 5   InstitutionMAGID     743233 non-null  int64
 6   Institution_H_Index  650974 non-null  float64
 7   StartYear            743233 non-null  int64
 8   StopYear             743233 non-null  int64
 9   mentor_1st_pub_time  655358 non-null  object
 10  mentee_1st_pub_time  489373 non-null  object
 11  mentor_gender        743082 non-null  object
 12  mentor_race          378833 non-null  object
 13  mentee_gender        743035 non-null  object
 14  mentee_race          408938 non-null  object
 15  Mentor_WPS           656452 non-null  float64
 16  Mentee_WPS           490655 non-null  float64
 17  mentor_WFS           654696 non-null  float64
 18  mentee_WFS           488894 non-null  float64
 19  mentor_domain        654696 non-null  object
 20  mentee_domain        488894 non-null  object
 21  mentor_num_pub       654696 non-null  float64
 22  mentee_num_pub       488894 non-null  float64
 23  mentor_citations     655418 non-null  float64
 24  mentee_citations     489380 non-null  float64
dtypes: float64(9), int64(7), object(9)
memory usage: 141.8+ MB

In [ ]:
df_.to_csv('final_data.csv', index=False)

In [ ]:
api = HfApi()
write_token = "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"

api.upload_file(
    path_or_fileobj="/content/final_data.csv",
    path_in_repo="Results/final_result_1.csv",
    repo_id="Matthewfung/24Summer_RA",
    repo_type="dataset",
    token=write_token
)